<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Profile</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/profile.css}">
        <script th:src="@{/js/script.js}" defer></script>
    </head>

    <body>
        <div class="dashboard-container">
            <!-- Left sidebar nav -->
            <nav class="sidebar">
                <a th:href="${user.role == 'ROLE_ADMIN' ? '/admin' : '/main'}" class="btn-back">← Back</a>
                <div class="sidebar-header">
                    <h2>My Account</h2>
                </div>

                <div class="nav-list">
                    <a href="/profile" class="nav-item">
                        <span>Profile</span>
                    </a>
                    <a href="/payment/myPayments" class="nav-item">
                        <span>My Payments</span>
                    </a>
                    <a href="/credit" class="nav-item">
                        <span>Credit</span>
                    </a>
                    <a href="/myBookings" class="nav-item">
                        <span>My Bookings</span>
                    </a>
                    <a href="/logout"class="nav-item">
                        <span>Logout</span>
                    </a>
                </div>
            </nav>
            <!-- right content -->
            <main class="content">
                <div>
                    <h1>Profile</h1>
                </div>
                <div class="content-body">
                    <p class="profile-items"><strong>Full Name:</strong><span th:text="${user.firstName + ' ' + user.lastName}">JD</span></p>
                    <p class="profile-items"><strong>Email:</strong><span th:text="${user.email}">JD@test.com</span></p>
                </div>
            </main>
        </div>
    </body>
    
</html>