<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Profile</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/profile.css}">
        <script th:src="@{/js/script.js}" defer></script>
    </head>

    <body>
        <div class="nav-list">
            <a href="/My-Payments">My Payments</a>
            <a href="/credit">My Credit</a>
            <a href="/My-Bookings">My Bookings</a>
            <a href="/settings">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>